# This is a simple Kconfig file defining a few application parameters.

# This needs to be in our toplevel Kconfig so Zephyr can find all the symbols.
menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config LED1_BLINK_INTERVAL_MS
    int "Blink interval of LED 1 in milliseconds."
    default 330

config LED2_BLINK_INTERVAL_MS
    int "Blink interval of LED 2 in milliseconds."
    default 600

config LED3_BLINK_INTERVAL_MS
    int "Blink interval of LED 3 in milliseconds."
    default 250

# Include our custom drivers (for e.g. ultrasonic sensor)
rsource "drivers/Kconfig"
