# This is a simple Kconfig file defining a few application parameters.

# This needs to be in our toplevel Kconfig so Zephyr can find all the symbols.
menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config ENV_READING_THREAD_PRIORITY
    int "Thread priority for our environment readings."
    default 10

config ENV_READING_STACK_SIZE
    int "Stack size for environment reading thread."
    default 1024

config ENV_READING_DEFAULT_MEASUREMENT_INTERVAL_MS
    int "Default measurement interval of the environment sensors in milliseconds."
    default 4000

# Include our custom drivers (for e.g. ultrasonic sensor)
rsource "drivers/Kconfig"
