/ {
    grove_ranger: grove_ranger {
        compatible = "grove-ranger";
        status = "okay";
        sig-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    };
};

&i2c0 {
    status = "okay";
        bmp280: bmp280@76 {
            compatible = "bosch,bme280";
            reg = <0x76>;
        };
};

/* Define GPIO Hogs like this */
&gpio0 {
    status = "okay";

    bosch_vdd_pin {
        gpio-hog;
        output-high;
        gpios = <2 GPIO_ACTIVE_HIGH>;
    };
};

&gpio1 {
    status = "okay";

    bosch_sdo_pin {
        gpio-hog;
        output-low;
        gpios = <12 GPIO_ACTIVE_HIGH>;
    };

    bosch_cdb_pin {
        gpio-hog;
        output-high;
        gpios = <13 GPIO_ACTIVE_HIGH>;
    };
};

/* Reconfigure the I2C pins for the BOSCH BMP280 sensor */
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                <NRF_PSEL(TWIM_SCL, 1, 15)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                <NRF_PSEL(TWIM_SCL, 1, 15)>;
            low-power-enable;
        };
    };
};
